html {
  box-sizing: border-box;
}

html, body, div#root {
  height: auto;
  background-color: #4c4c4c;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111111;
}

nav li a.active {
  border-bottom: solid 5px orange;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

input[type=password], input[type=username], input[type=text] {
  width: 100%;
  margin-bottom: 5px;
  font-size: 1.2em;
}

label {
  color: white;
}

label.select-file:hover {
  background-color: #3e3e3e;
  cursor: pointer;
}

section {
  margin: 4px 30%;
}

form {
  background-color: #696767;
  padding: 5px 10px;
}

input[type=submit] {
  margin-top: 10px;
  width: 100%;
  font-size: 1.3rem;
  background-color: #fe0033;
  color: white;
  border: none;
  border-radius: 5px;
  min-height: 40px;
}

input[type=submit]:hover {
  cursor: pointer;
}

.logoutButton {
  float: right;
  border: 2px solid white;
}

.post {
  background-color: #656161;
  color: white;
  padding: 8px;
  word-break: break-all;
}

.post~.post {
  border-top: solid 1px #7b7b76;
}

.post-mainText {
  white-space: pre-line;
  max-height: 150px;
  overflow-y: auto;
  word-break: break-word;
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.form-text-length {
  float: right;
  margin: 0;
  color: #b9b9b9;
  font-size: 0.95rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.post-profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.post-username {
  margin: 0;
  display: inline-block;
  flex-grow: 1;
  margin-left: 10px;
}

.post-sideTime {
  margin: 0;
  color: #b9b9b9;
  font-size: 0.95rem;
}

.post-maker {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  color: white;
  resize: none;
}

.post-footer {
  margin-top: 5px;
}

.post-like {
  display: inline-block;
  margin: 0 5px;
}

.post-like::after {
  content: " ❤";
}

.post-button-like {
  font-size: 0.7rem;
  padding: 0.6em;
  background: none;
  color: white;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 5px;
  min-width: 100px;
}

.post-button-like:hover {
  cursor: pointer;
  background: #00000036;
}

#select-file {
  display: none;
}

.select-file {
  display: block;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px 20px;
}

.img-button {
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.right-img-button {
  content: "right";
  right: 0;
}

.left-img-button {
  content: "left";
  left: 0;
}

.image-container {
  height: 40vh;
  overflow: hidden;
  overflow-x: visible;
  display: flex;
  background: #000;
  border-radius: 1.2rem;
  flex-direction: row;
  scroll-snap-type: x mandatory;
}

.post-img {
  width: 100%;
  object-fit: cover;
  background-color: #000;
  display: block;
  scroll-snap-align: start;
}

.full-img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: contain;
  background-color: #000000eb;
  z-index: 15;
}

.post-button {
  width: 50%;
  background-color: #fe0033;
}

::placeholder {
  color: #b9b9b9;
}

.profile-link {
  color: white;
  text-decoration: none;
}

@media (max-width: 800px) {
  section {
    margin: 4px 5px;
  }
  .post-button-like:hover {
    background: initial;
  }
}