html {
  box-sizing: border-box;
}

html, body, div#root {
  height: auto;
  background-color: #4c4c4c;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}



input[type=password], input[type=username], input[type=text] {
  width: 100%;
  margin-bottom: 5px;
  font-size: 1.2em;
}

label {
  color: white;
}

.select-file:hover {
  background-color: #3e3e3e;
  cursor: pointer;
}


#select-file {
  display: none;
}

.select-file[aria-disabled=true] {
  background-color: #5c5c5c;
  color: #a5a5a5;
  border: 1px solid;
  cursor: not-allowed;
}

.select-file {
  display: block;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px 20px;
}

section {
  margin: 4px 30%;
}

form {
  background-color: #696767;
  padding: 5px 10px;
}

input[type=submit] {
  margin-top: 10px;
  width: 100%;
  font-size: 1.3rem;
  background-color: #fe0033;
  color: white;
  border: none;
  border-radius: 5px;
  min-height: 40px;
}

input[type=submit]:disabled {
  background-color: #5c5c5c;
  color: #a5a5a5;
}

input[type=submit]:disabled:hover {
  cursor: not-allowed;
}

input[type=submit]:hover {
  cursor: pointer;
}

.post {
  display: grid;
  gap: 5px;
  border-top: solid 1px #7b7b76;
  background-color: #656161;
  color: white;
  padding: 8px;
  word-break: break-all;
}

.form-text-length {
  float: right;
  margin: 0;
  color: #b9b9b9;
  font-size: 0.95rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.post-username {
  margin: 0;
  display: inline-block;
  flex-grow: 1;
  margin-left: 10px;
}

.post-sideTime {
  margin: 0;
  color: #b9b9b9;
  font-size: 0.95rem;
}

.post-maker {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  color: white;
  resize: none;
}

.post-footer {
  display: flex;
}

.post-like {
  font-size: 1.2rem;
  margin: 0;
}

.hover-pointer:hover {
  cursor: pointer;
}

.post-like:hover {
  cursor: pointer;
}


.img-button {
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.right-img-button {
  content: "right";
  right: 0;
}

.left-img-button {
  content: "left";
  left: 0;
}

.carousel img {
  height: 40vh;
  object-fit: cover;
  background: black;
}

.carousel video {
  height: 40vh;
  width: 100%;
  background: black;
}

.carousel {
  border-radius: 1.2rem;
}

ul.slider {
  align-items: center;
}

.post-img {
  width: 100%;
}

.carousel .control-dots .dot {
  box-shadow: 0px 0px 0px 2px #000 !important;
}

.fullScreen-container {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  inset: 0;
  background: #000000d9;
  z-index: 15;
  padding: 5vh 0;
}

.fullScreen {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: scale(0);
  opacity: 0;
}

li.slide img::selection {
  background-color: transparent;
}

.full-opacity {
  opacity: 1;
  transform: scale(1);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

:f .post-button {
  width: 50%;
  background-color: #fe0033;
}

::placeholder {
  color: #b9b9b9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.profile-link {
  color: white;
  text-decoration: none;
}

@media (max-width: 800px) {
  section {
    margin: 4px 5px;
  }

  .post-button-like:hover {
    background: initial;
  }
}